.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {

  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

body.jumbotron #page-header-wrapper {
  display: none !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 0px;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin-left: 25%;
}
.marketing p + h4 {
  margin-top: 28px;
}

.skilaboda-haldari {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 2;
}

.main-view {

  margin-top: 4em;
}

.skilabod {
    position: absolute;
    margin: 5.0em auto;
    padding: 1%;
    width: 40%;
    right: 30%;
    background: white;
    -webkit-transition: all 5s ease-in-out;
    -moz-transition: all duration ease-in-out;
    transition: all duration ease-in-out;
    /*
  position: absolute;
  width: 50%;
  height: 70%;
  top: 10%;
  right: 25%;
  /*padding: 1% 5% 5% 5%;
  background: white;
  /*border: 1px solid black;
  border-radius: 6px 6px 6px 6px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 3;
  */
}

.skilabod-xHorn {
    position: relative;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }


  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width: 960px) {
    .skilabod {
        position: absolute;
        left: 0;
        top: 3em;
        width: 100%;
        height: 90%;
    }
}
/* Allt nýtt fyrir neðan þetta*/
.test {
  border: 1px solid red;
}

.takki {
  position: relative;
  top: 7px;
}
/*til að hafa full veiw yfir main*/
.container-fluid-fullSego {
  margin-top: 4em;
}



/* Verðlisti*/
.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
  /*border-radius: 5px;*/
}

verdlisti.skilabod {
  padding: 0px;
}

stillingar.skilabod {
  padding: 0px;
}

vidskiptavinir.skilabod {
  padding: 0px;
}

boka.skilabod {
  padding: 0px;
}

.haus {
  background-color: #7a43b6;
  width: 100%;
  color: lightgray;
  font-size: 30px;
  font-family: Gadugi, sans-serif;
  padding-top: 5px;
  height: 55px;
  padding-left: 12px;
  padding-right: 12px;
}

.footer {
  background-color: #7a43b6;
  width: 100%;
  color: lightgray;
  font-size: 18px;
  font-family: Gadugi, sans-serif;
  padding-top: 5px;
  height: 30px;
  padding-top: 3px;
  border-top-width: 0;
  text-align: center;
}

.close {
  color: lightgray;
  opacity: 1;
}

.close:hover {
  color: white;
  opacity: 1;
}

.dropdown {
  margin-left: 40%;
}

.dagur {
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 53px;
}

.bakkaTakki {
  float: left;
  color: #7a43b6;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 0px;
}

.bakkaTakki i {
  cursor: pointer;
}

.nextTakki {
  color: #7a43b6;
  padding-top: 10px;
  position: 100px;
}

.nextTakki i {
  cursor: pointer;
}

.bookingcontent {
  height: 300px;
  /*overflow-y: auto;*/
}

.bookingcontent h4 {
  text-align: center;
  font-weight: bold;
}

.bookingcontent h5 {
  text-align: center;
}

.list-group-item-heading {
  color: black;
  font-weight: bold;
}

.content {
  height: 500px;
  overflow-y: auto;
}

footer {
  background-color: #7a43b6;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer p {
  color: white;
}

.hiddenRow {
  padding: 0 !important;
}

.inputField {
  width: 90%;
  margin-left: 5%;
}

.stadfestaTakki {
  color: green;
}

.stadfestaTakki:hover {
  cursor: pointer;
  text-shadow: 0 0 10px green;
}

.haettaVidTakki {
  color: red;
}

.haettaVidTakki:hover {
  cursor: pointer;
  text-shadow: 0 0 10px red;
}

.divTakki:hover {
  cursor: pointer;
}

.athugasemd {
  padding: 0 0 10px 0;
}

.booking {
    height: 1em;
}

.booking-time {
    height: 1em;
    width: 0.5em;
    margin: 0.5em auto;
}

.booking-time p {
    font-size: 0.8em;
}

.navbar-default .navbar-brand {
  /*color: black;*/
  color: lightgray;
}

.navbar-default .navbar-brand:hover {
  /*color: #7a43b6;*/
  color: white;
}

.navbar-default {
  background-color: #7a43b6;
  /*background-image: url("http://1.bp.blogspot.com/-IdHkNJRShik/T1-pkQVpvcI/AAAAAAAABjs/G7g0vQA_deQ/s1600/subtle_website_background_134.jpg");*/
}

.btn.btn-link.btn-lg {
  color: lightgray;
}

.btn.btn-link.btn-lg:hover {
  /*color: #7a43b6;*/
  color: white;
  text-decoration: none;
}

.navbar-header {
  background-color: #7a43b6;
  /*background-image: url("http://1.bp.blogspot.com/-IdHkNJRShik/T1-pkQVpvcI/AAAAAAAABjs/G7g0vQA_deQ/s1600/subtle_website_background_134.jpg");*/
  padding-left: 15px;
}

#nav {
  border-bottom: 2px solid black;
}

.vidskiptavinir {
  background-color: #7a43b6;
  color: white;
  font-size: 30px;
  font-family: Gadugi, sans-serif;
  padding-top: 5px;
  height: 55px;
  margin-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
}

.skilabod-x {
    position: absolute;
    top: 0;
    right: 0;
}
/*
padding-top
padding-right
padding-bottom
padding-left
*/
.loading {
  padding: 15% 60% 50% 40%;
}

.bak {
  background-image: url("http://1.bp.blogspot.com/-IdHkNJRShik/T1-pkQVpvcI/AAAAAAAABjs/G7g0vQA_deQ/s1600/subtle_website_background_134.jpg");
}

.dagsetning {
  padding-top: 1em;
  padding-left: 3em;
}

.dagsetning div p {
  font-size: 1.8em;
}

.buttonleft {
  font-size: 1.8em;
  padding-top: 0.3em;
  padding-left: 1em;
  padding-right: 0.3em;
}

.buttonright {
  font-size: 1.8em;
  padding-right: 1em;
  padding-top: 0.3em;
}


