body {
  padding: 0;
  font-family: scala, sans-serif;
  font-size: 12px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.adalmynd img {
  width: 100%;
  height: 30%;
}

/* Supporting marketing content */

.skilaboda-haldari {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 1000;
}

.main-view {
  margin-top: 4em;
}

.skilabod {
  position: absolute;
  margin: 5.0em auto;
  width: 70%;
  right: 16%;
  background: white;
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all duration ease-in-out;
  transition: all duration ease-in-out;
  padding: 0px;
}

.skilabod-xHorn {
  position: relative;
}


/* Allt nýtt fyrir neðan þetta*/

/*til að hafa full veiw yfir main*/
.container-fluid-fullSego {
  margin-top: 4em;
  width: 100%;

}

.dagurin_i_dag .col-md-3 {
  padding-right: 0px;
  padding-left: 0px;
}

/* Verðlisti*/
.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

.btn-primary {
  background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
}

.btn-primary:hover {
  background-color: hsl(290, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(290, 80%, 60%), hsl(290, 60%, 45%) 2em, hsl(290, 80%, 60%));
}

input[type="text"], #leitargluggi  {
  background-color : #f8f8f8;
  margin-right: 50px;
  margin-bottom: 2px;
}

.bla {
  float: right;
}

.haus {
  background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
  width: 100%;
  color: white;
  font-size: 30px;
  font-family: scala, sans-serif;
  padding-top: 5px;
  height: 55px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 0px;
  margin-right: 0px;
}

.footer {
  background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
  width: 100%;
  color: white;
  font-size: 18px;
  font-family: scala, sans-serif;
  padding-top: 5px;
  height: 30px;
  padding-top: 3px;
  border-top-width: 0;
  text-align: center;
}

.close.takki {
  font-size: 30px;
  color: white;
  position: relative;
  top: 7px;
  opacity: 1;
}

.close.takki:hover {
  color: lightgray;
  opacity: 1;
}

.dagur {
  width: 85%;
  margin: 0.5em auto;
  font-weight: bold;
  font-size: 2.0em;
}

.list-group-item-heading {
  color: black;
  font-weight: bold;
}

.content {
  height: 500px;
  width: 100%;
  overflow-y: auto;
  font-family: scala;
}

.content thead {
  font-size: 18px;
}

.content tbody td {
  font-size: 18px;
}

.content .thjonusta {
  margin-left: 20px;
  font-size: 18px;
}

.verd {
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

.hiddenRow {
  padding: 0 !important;
}

.divTakki:hover {
  cursor: pointer;
}

.athugasemd {
  padding: 0 0 10px 0;
}

/*.booking {
  height: 1em;
}

.booking-time {
  text-align: center;
  height: 1em;
}

.booking-time p {
  font-size: 0.8em;
}

.booking-cell {
  overflow: visible;
}

.staff {
    width: 28.0em;
}*/

@media only screen and (max-device-width: 768px) {
  .skilabod {
    position: absolute;
    left: 0;
    top: 2px;
    width: 100%;
    height: 100%;
  }

  .container-fluid > .navbar-header {
    margin-left: -10px;
  }

  .container-fluid > .navbar-header-top {
    margin-left: -10px;
  }
}

@media only screen and (max-device-width: 667px) {
  .container-fluid > .navbar-header {
    margin-left: -10px;
  }

  .container-fluid > .navbar-header-top {
    margin-left: -10px;
  }

  .skilabod {
    position: absolute;
    left: 0;
    top: 2px;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-device-width: 375px) {
  .container {
    max-width: 730px;
  }

  .skilabod {
    position: absolute;
    left: 0;
    top: 2px;
    width: 100%;
    height: 100%;
  }

  .navbar-right {
    float: right;
  }

  .navbar-haus-top {
    margin-top: 13px;
  }

  .adalmynd {
    height: 50%;
  }

  .dagsetning {
    margin-top: 15px;
    position: relative;
  }

  .fa-clock-o {
    padding-bottom: 8px;
  }

  .container-fluid > .navbar-header {
    margin-top: 13px;
    margin-left: -10px;
  }

  .container-fluid > .navbar-header-top {
    margin-top: 13px;
    margin-left: -10px;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .row .col-xs-1 {
    margin-left: 0px;
  }

  .staffName {
    font-size: 16px;
    width: 28em;
    display: table-cell;
    border-right: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
  }
}

.navbar-default .navbar-brand {
  color: white;
  text-shadow: 3px 3px 5px black;
  font-family: scala, sans-serif;
}

.navbar-default .navbar-brand:hover {
  color: black;
  text-shadow: 2px 2px 4px white;
  font-family: scala, sans-serif;
}

.btn.btn-link.btn-lg:hover {
  text-decoration: none;
}

.navbar-haus {
  position: absolute;
  font-family: scala, sans-serif;
  font-size: 20px;
  text-align: right;
  color: white;
  background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
  width: 200px;
  height: 35px;
  margin-top: 8px;
  -moz-border-radius: 100px/50px;
  -webkit-border-radius: 100px/50px;
  border-radius: 50px;
  padding-left: 9px;
  padding-right: 22px;
  padding-top: 3px;
  box-shadow: 5px 5px 5px grey;
  display: inline-block;
}

.navbar-haus:hover {
  color: black;
}

.navbar-haus-top {
  position: absolute;
  font-family: scala, sans-serif;
  font-size: 1.4em;
  text-align: center;
  width: 100px;
  height: 35px;
  background-color: black;
  -moz-border-radius: 100px/50px;
  -webkit-border-radius: 100px/50px;
  border-radius: 50px;
  margin-top: 8px;
  padding-top: 5px;
  color: white;
  z-index: 1;
}

/*.skilabod-x {
  position: absolute;
  top: 0;
  right: 0;
}

.list-group-item-heading {
  float: left;
  border: solid red;
}

.list-group-item-text {
  overflow: hidden;
  padding-left: 250px;
  padding-top: 10px;
}*/

.loading {
  padding: 15% 60% 50% 40%;
}

.dagsetning {
  padding-top: 1em;
  padding-left: 3em;
}

.dagsetning div p {
  font-size: 1.6em;
}

.buttonleft {
  font-size: 1.8em;
  padding-top: 0.15em;
  padding-left: 1em;
  padding-right: 0.3em;
}

.buttonright {
  font-size: 1.8em;
  padding-right: 1em;
  padding-top: 0.15em;
}

/*.horizontal-collapse {
  height: 70px;
}*/

.navbar-collapse.in {
  overflow-y: hidden;
}

input.ng-valid {
  outline: none;
  border-color: lightgreen;
  box-shadow: 0 0 10px #9ecaed;
}

.error {
  outline: none;
  border-color: red;
  box-shadow: 0 0 10px red;
}

.booking-time {
  font-size: 14px;
}

.datepicker {
  background-color: #f8f8f8;
  border: 1px solid black;
  padding: 0.5em 0.5em 0.5em 2em;
  text-align: center;
  position: absolute;
  z-index: 2;
}

.test {
  border: 1px solid red;
}

.confirmedBooking {
  background-color: #e9ccee;
  font-size: 0.8em;
  box-shadow: 2px 2px 1px grey;
  border-bottom: 1px solid grey;
  border-radius: 2px;
  width: 50%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.right {
  margin-left: 50%;
  background-color: #ce9ed7;
}

.confirmedBooking:hover {
  transform: translateY(1px);
  box-shadow: 1px 1px 1px grey;
}

.klukka {
  font-size: 1.6em;
  display: table-cell;
  width: 5em;
  height: 2em;
  border-right: 1px solid #ddd;
  text-align: center;
  padding-top: 5px;
}

.staffName {
  font-size: 16px;
  width: 28em;
  display: table-cell;
  border-right: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
}

.bookingCell {
  text-align: center;
  position: relative;
  display: table-cell;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.bookingCell:hover {
  cursor: pointer;
  background-color: #fcf1ff;
}
.quart {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
/***********************/
/*** DIV TABLE BELOW ***/
/***********************/
.rTable {
  display: table;
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.rTableRow {
  display: table-row;
}
.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
}
.rTableCell {
  font-size: 1em;
  display: table-cell;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: center;
}
.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
  font-weight: bold;
}
.rTableFoot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #ddd;
}
.rTableBody   {
  display: table-row-group;
}

input.ng-valid {
  box-shadow: none;
  border-color: #cccccc;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
}

/* Hide default HTML checkbox */
.switch input {
  display:none;
}

/*******************************/
/************ ADMIN ************/
/*******************************/

.adminNewDay {
  background-color: #66afe9;
}
