.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: scala, sans-serif;
  font-size: 12px;
}

body.jumbotron #page-header-wrapper {
  display: none !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}*/

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.adalmynd img {
  width: 100%;
  height: 30%;
}

/* The Magic */
.accordion:hover .accordion-item:hover .accordion-item-content,
.accordion .accordion-item--default .accordion-item-content {
  height: 6em;
}

.accordion-item-content,
.accordion:hover .accordion-item-content {
  height: 0;
  overflow: hidden;
  transition: height 0.75s;
  z-index: 1000;
}

/* Aesthetic */
.forsida {
  background: #222;
}

.accordion .accordion-item {
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  border-bottom: 1px solid #666;
  padding: 1em;
  color: #eee;
}

.accordion {
  position: absolute;
  padding-left: 0px;
  padding-right: 2px;
  z-index: 1000;
}

.accordion .forsidafyrirsogn {
  margin: 0;
  font-family: scala, sans-serif;
  font-size: 24px;
}

.accordion p {
  font-family: scala;
  font-size: 12px;
}

.accordion .accordion-item {
  border: black;
}

.accordion .accordion-item:nth-child(1) {
  font-family: Gadugi, sans-serif;
  text-align: center;
  background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
  margin-top: 1px;
}

.accordion .accordion-item:nth-child(2) {
  font-family: Gadugi, sans-serif;
  text-align: center;
  background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
  margin-top: 1px;
}

.accordion .accordion-item:nth-child(3) {
  font-family: Gadugi, sans-serif;
  text-align: center;
  background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
  margin-top: 1px;
}

.botnmynd img {
  width: 100%;
  height: 10%;
  padding-top: 4px;
  position: relative;
}

/* Supporting marketing content */

.skilaboda-haldari {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 2;
}

.main-view {

  margin-top: 4em;
}

.skilabod {
  position: absolute;
  margin: 5.0em auto;
  width: 40%;
  right: 30%;
  background: white;
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all duration ease-in-out;
  transition: all duration ease-in-out;
  padding: 0px;
}

.skilabod-xHorn {
  position: relative;
}

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}*/
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

/*@media screen and (max-width: 960px) {
  .skilabod {
    position: absolute;
    left: 0;
    top: 2px;
    width: 100%;
    height: 100%;
  }
}*/

/* Allt nýtt fyrir neðan þetta*/


.takki {
  position: relative;
  top: 7px;
}

/*til að hafa full veiw yfir main*/
.container-fluid-fullSego {
  margin-top: 4em;
  width: 100%;

}

/*.row {
  background-color: white;
}*/

.dagurin_i_dag .col-md-3 {
  padding-right: 0px;
  padding-left: 0px;
}

/* Verðlisti*/
.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

boka.skilabod {
  padding: 0px;
}

.haus {
  background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
  width: 100%;
  color: white;
  font-size: 30px;
  font-family: scala, sans-serif;
  padding-top: 5px;
  height: 55px;
  padding-left: 12px;
  padding-right: 12px;
}

.footer {
  background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
  width: 100%;
  color: white;
  font-size: 18px;
  font-family: scala, sans-serif;
  padding-top: 5px;
  height: 30px;
  padding-top: 3px;
  border-top-width: 0;
  text-align: center;
}

.close {
  color: white;
  opacity: 1;
}

.close:hover {
  color: lightgray;
  opacity: 1;
}

.dropdown {
  margin-left: 40%;
}

.dagur {
  width: 85%;
  margin: 0.5em auto;
  font-weight: bold;
  font-size: 2.0em;
}

.btnSkiptumDag {
  color: #7a43b6;
  margin: 0.5em 0em;
  top: 50%;
  cursor: pointer;
}

.nextTakki i {
  cursor: pointer;
}

.bookingcontent {
  height: 300px;
  /*overflow-y: auto;*/
}

.bookingcontent h4 {
  text-align: center;
  font-weight: bold;
}

.bookingcontent h5 {
  text-align: center;
}

.list-group-item-heading {
  color: black;
  font-weight: bold;
}

.content {
  height: 500px;
  overflow-y: auto;
  font-family: scala;
}

.content .pull-right {
  font-size: 12px;
  padding-bottom: 3px;
}

.content thead {
  font-size: 18px;
}

.content tbody td {
  font-size: 18px;
}

.content .thjonusta {
  font-size: 18px;
}

.verd {
  font-size: 14px;
  font-weight: bold;
}

.hiddenRow {
  padding: 0 !important;
}

.inputField {
  width: 90%;
  margin-left: 5%;
}

.stadfestaTakki {
  color: green;
}

.stadfestaTakki:hover {
  cursor: pointer;
  text-shadow: 0 0 10px green;
}

.divTakki:hover {
  cursor: pointer;
}

.athugasemd {
  padding: 0 0 10px 0;
}

.booking {
  height: 1em;
}

.booking-time {
  text-align: center;
  height: 1em;
}

.booking-time p {
  font-size: 0.8em;
}

.booking-cell {
  overflow: visible;
}

.staff {
    width: 28.0em;
}

@media only screen and (max-device-width: 736px) {
  .container-fluid > .navbar-header {
    margin-left: -10px;
  }

  .container-fluid > .navbar-header-top {
    margin-left: -10px;
  }
}

@media only screen and (max-device-width: 667px) {
  .container-fluid > .navbar-header {
    margin-left: -10px;
  }

  .container-fluid > .navbar-header-top {
    margin-left: -10px;
  }
}

@media only screen and (max-device-width: 375px) {
  .container {
    max-width: 730px;
  }

  .skilabod {
    position: absolute;
    left: 0;
    top: 2px;
    width: 100%;
    height: 100%;
  }

  .navbar-right {
    float: right;
  }

  .adalmynd {
    height: 50%;
  }

  .dagsetning {
    margin-top: 15px;
    position: relative;
  }

  .fa-clock-o {
    padding-bottom: 8px;
  }

  .container-fluid > .navbar-header {
    margin-top: 13px;
    margin-left: -10px;
  }

  .container-fluid > .navbar-header-top {
    margin-top: 13px;
    margin-left: -10px;
  }

  .row .col-xs-1 {
    margin-left: 0px;
  }

  .staffName {
    font-size: 16px;
    width: 28em;
    display: table-cell;
    border-right: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
  }

  .kassar {
    height: 100%;
  }

  /*.btn:before {
    font-size: 16px;
  }

  .fa-dollar {
    font-size: 25px;
  }

  .fa-cogs {
    font-size: 25px;
  }

  .fa-users {
    font-size: 25px;
  }

  .fa-sign-out {
    font-size: 25px;
  }

  .booking-time {
    font-size: 20px;
  }

  .dagurin_i_dag .col-xs-6 {
    padding-right: 18px;
  }*/
}

.navbar-default .navbar-brand {
  color: white;
  text-shadow: 3px 3px 5px black;
  font-family: scala, sans-serif;
}

.navbar-default .navbar-brand:hover {
  color: black;
  text-shadow: 2px 2px 4px white;
  font-family: scala, sans-serif;
}

.btn.btn-link.btn-lg:hover {
  text-decoration: none;
}

.navbar-header {
  position: relative;
  font-family: scala, sans-serif;
  font-size: 20px;
  text-align: right;
  color: white;
  background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
  width: 200px;
  height: 35px;
  margin-top: 8px;
  -moz-border-radius: 100px/50px;
  -webkit-border-radius: 100px/50px;
  border-radius: 50px;
  padding-left: 9px;
  padding-right: 22px;
  padding-top: 3px;
  box-shadow: 5px 5px 5px grey;
  display: inline-block;
}

.navbar-header:hover {
  color: black;
}

.navbar-header-top {
  position: absolute;
  font-family: scala, sans-serif;
  font-size: 1.4em;
  text-align: center;
  width: 100px;
  height: 35px;
  background-color: black;
  -moz-border-radius: 100px/50px;
  -webkit-border-radius: 100px/50px;
  border-radius: 50px;
  margin-top: 8px;
  padding-top: 5px;
  color: white;
  z-index: 1;
}

/*#nav {
  border-bottom: 1px solid black;
}*/

.skilabod-x {
  position: absolute;
  top: 0;
  right: 0;
}

.list-group-item-heading {
  float: left;
  border: solid red;
}

.list-group-item-text {
  overflow: hidden;
  padding-left: 250px;
  padding-top: 10px;
}

.loading {
  padding: 15% 60% 50% 40%;
}

.dagsetning {
  padding-top: 1em;
  padding-left: 3em;
}

.dagsetning div p {
  font-size: 1.6em;
}

.buttonleft {
  font-size: 1.8em;
  padding-top: 0.15em;
  padding-left: 1em;
  padding-right: 0.3em;
}

.buttonright {
  font-size: 1.8em;
  padding-right: 1em;
  padding-top: 0.15em;
}

.horizontal-collapse {
  height: 70px;
}

.navbar-collapse.in {
  overflow-y: hidden;
}

input.ng-valid {
  outline: none;
  border-color: lightgreen;
  box-shadow: 0 0 10px #9ecaed;
}

.btnTilbaka {
  color: #7a43b6;
}

.error {
  outline: none;
  border-color: red;
  box-shadow: 0 0 10px red;
}

#haettavidtakki {
  background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
}

#uppfaeratakki {
  background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
}

.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

#haettavid {
  background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
}

#stadfesta {
  padding-left: 11px;
  padding-right: 11px;
  background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
}

.booking-time {
  font-size: 14px;
}

.staff th {
  text-align: center;
}

.col-xs-12 {
  margin-left: 0px;
}

.datepicker {
  background-color: #f8f8f8;
  border: 1px solid black;
  padding: 0.5em 0.5em 0.5em 2em;
  text-align: center;
  position: absolute;
  z-index: 2;
}

.test {
  border: 1px solid red;
}

.confirmedBooking {
  background-color: greenyellow;
  width: 50%;
  float: inherit;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.klukka {
  font-size: 1.6em;
  display: table-cell;
  width: 5em;
  height: 2em;
  border-right: 1px solid #ddd;
  text-align: center;
  padding-top: 5px;
}

.staffName {
  font-size: 16px;
  width: 28em;
  display: table-cell;
  border-right: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
}

.bookingCell {
  text-align: center;
  position: relative;
  display: table-cell;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.bookingCell:hover {
  cursor: pointer;
  background-color: #dff0d8;
}
.quart {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
/***********************/
/*** DIV TABLE BELOW ***/
/***********************/
.rTable {
  display: table;
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.rTableRow {
  display: table-row;
}
.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
}
.rTableCell {
  font-size: 14px;
  display: table-cell;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: center;
}
.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
  font-weight: bold;
}
.rTableFoot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #ddd;
}
.rTableBody {
  display: table-row-group;
}

input.ng-valid {
  box-shadow: none;
  border-color: #cccccc;
}

