<!doctype html>
<html ng-app="sego">
  <head>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.js"></script>
    <script src="ui-bootstrap-tpls-2.1.3.min.js"></script>
    <script src="JavaScript/datepickerctrl.js"></script>
    <script src="JavaScript/dailybookingctrl.js"></script>
    <script src="JavaScript/navbarctrl.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome-4.6.2/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

<style>
  @media screen and (max-width: 480px) {
      .datepicker {
          display: none;
      }
  }
  body {
    font-size: 12px; 
  }
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
  .daily-scheduler {
    display: block;
    width: 50%;
    height: 500px;
    overflow: scroll;
  }
  .klukka {
    font-size: 1.6em;
  }
  .header {
    position: fixed;
    height: 3.0em;
    width: 100%;
    z-index: 2;
  }
  .header-logo {
    font-size: 2.5em;
  }
  .main {
    position: relative;
    top: 3.0em;
    left: 0;
  }
  .stillingar {
    font-size: 2em;
  }
</style>
<div class="container-fluid">
  <nav class="navbar navbar-default">
  <div class="container-fluid" ng-controller="navbarCtrl">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SEGO</a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="openSettings()"><i class="fa fa-cog stillingar"></i></a></li>
      </ul>

  </div><!-- /.container-fluid -->
</nav>



  <div class="row main">
     <div class="col-xs-8 main-daily">
      <div ng-controller="DailyBookingCtrl">
        <table class="table table-bordered">
          <tr>
            <td class="klukka"><i class="fa fa-clock-o" aria-hidden="true"></i></td>
            <td ng-repeat="x in names" >{{ x.name }}</td>
            
          </tr>
          <tr ng-repeat="b in bookings">
            <td>8:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka" ng-click="open()">0</td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>
          <tr>
            <td>9:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka"></td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>
          <tr>
            <td>10:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka"></td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>
          <tr>
            <td>11:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka"></td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>
          <tr>
            <td>12:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka"></td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>
          <tr>
            <td>13:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka"></td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>
          <tr>
            <td>14:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka"></td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>
          <tr>      
            <td>15:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka"></td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>
          <tr>      
            <td>16:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka"></td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>
          <tr>      
            <td>17:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka"></td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>
          <tr>      
            <td>18:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka"></td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>
          <tr>      
            <td>19:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka"></td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>
          <tr>      
            <td>20:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka"></td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>
          <tr>      
            <td>21:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka"></td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>
          <tr>      
            <td>22:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka"></td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>
          <tr>      
            <td>23:00</td>
            <td id="simon"></td>
            <td id="johanna"></td>
            <td id="frikka"></td>
            <td id="simon"></td>
            <td id="gurry"></td>
            <td id="hanna"></td>
          </tr>    
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 datepicker">
        <div ng-controller="datepickerCtrl">
          <div style="display:inline-block; min-height:290px;">
            <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
          </div>
          <!--
        <hr />
          <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
          <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
          <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
          <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
        -->
        </div>
      </div><!-- datepicker end -->
    </div>
  </div>

  </div>
</body>
</html>