<div class="container" permissions="['administration']">
    <div class="row">
        <div class="col-md-6">
            <h3>Bæta við hárgreiðslustofu:</h3>
            <form>
                <div class="form-group">
                    <label for="name">Nafn:</label>
                    <input type="text" name="nafn" ng-model="company.name">
                </div>
                <div class="form-group">
                    <label for="phone">Sími:</label>
                    <input type="tel" name="simi" ng-model="company.phone">
                </div>
                <div class="form-group">
                    <label for="auth_id">AuthID:</label>
                    <input type="text" name="auth_id" ng-model="company.auth_id">
                </div>
                <input type="button" ng-click="addCompany(company)" value="STADFESTA">
            </form>
        </div>
        <div class="col-md-6">
            <h3>Hárgreiðslustofur í kerfinu</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Hárgreiðslustofa</th>
                        <th>Sími</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in companies track by $index">
                        <td>{{ c.name }}</td>
                        <td>{{ c.phone }}</td>
                        <td><button class="btn" ng-click="toggleEditCompany($index)">EDIT</button></td>
                        <tr ng-repeat="s in c.staff track by $index">
                            <td>s.name</td>
                            <td>s._id</td>
                            <td></td>
                        </tr>
                    </tr>
                </tbody>
             </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Bæta við notanda</h3>
            <form>
                <div class="form-group">
                    <label for="name">Nafn:</label>
                    <input type="text" name="name" ng-model="user.name">
                </div>
                <div class="form-group">
                    <label for="phone">Sími:</label>
                    <input type="tel" name="phone" ng-model="user.phone">
                </div>
                <div class="form-group">
                    <label for="phone">Netfang:</label>
                    <input type="tel" name="email" ng-model="user.email">
                </div>
                <input type="button" ng-click="addUser(user)" value="STADFESTA">
            </form>
        </div>
        <div class="col-md-6">
            <h3>Notendur í kerfinu</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Notendur</th>
                        <th>Sími</th>
                        <th>Netfang</th>
                        <th>role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in users">
                        <td>{{ u.name }}</td>
                        <td>{{ u.phone }}</td>
                        <td>{{ u.email }}</td>
                        <td>{{ u.role }}</td>
                        <td><button ng-click="deleteUser(u._id)" value="eyða">eyða</button></td>
                    </tr>
                </tbody>
             </table>
        </div>
        <div class="col-md-6">
            <h3>Klipparar í kerfinu undir starfsfólk fyrirtækis</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Notendur</th>
                        <th>Sími</th>
                        <th>Netfang</th>
                        <th>role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in users">
                        <td>{{ u.name }}</td>
                        <td>{{ u._id }}</td>
                        <td>{{ u.email }}</td>
                        <td>{{ u.role }}</td>
                        <td><button ng-click="deleteUser(u._id)" value="eyða">eyða</button></td>
                    </tr>
                </tbody>
             </table>
        </div>
    </div>
</div>
