<div class="row">
  <div class="col-xs-3">
    <ul class="list-group">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading"> Kalli </h4>
        <p class="list-group-item-text"> Kemst mill 13 og 15 </p>
      </a>

      <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading"> Sif </h4>
        <p class="list-group-item-text"> Kemst mill 13 og 15 </p>
      </a>


      <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading"> Sandra </h4>
        <p class="list-group-item-text"> Kemst mill 13 og 15 </p>
      </a>

      <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading"> jón </h4>
        <p class="list-group-item-text"> Kemst mill 13 og 15 </p>
      </a>
    </ul>
  </div>
</div>
