<div class="col-xs-12">
  <div class="haus">BÓKA TÍMA
    <i class="fa fa-book"
       style="font-size:30px">
    </i>
    <button type="button"
            class="close takki"
            ng-click="leave()">&times;
    </button>
  </div>
  <div class="bookingcontent">
    <td colspan="4">
      <h4>Klippari: {{ objFrom.name }}</h4>
      <h5>Tími: {{ objFrom.startTime }}</h5>
      <form name="bookingForm"
            class="form-horizontal">
        <div class="form-group col-xs-11">
          <input type="text"
                 name="name"
                 ng-class="{error: (badInput && bookingForm.name.$error.required)
                 || (badInput && bookingForm.name.$error.maxlength)
                 || (badInput && bookingForm.name.$error.minlength)}"
                 ng-click="badInput = false"
                 ng-minlength="3"
                 ng-maxlength="44"
                 class="form-control inputField"
                 ng-model="objFrom.customer"
                 placeholder="Nafn"
                 required>
        </div>
        <!-- vantar gott error msg eða eitthvað -->
        <div ng-show="badInput && bookingForm.name.$error.required">x</div>
        <div class="pull-right col-xs-1">
          <i class="fa fa-plus fa-2x stadfestaTakki"
             aria-hidden="true"
             data-toggle="tooltip"
             data-placement="auto"
             title="Staðfesta"
             ng-click="stadfesta(objFrom)"></i>
        </div>
        <div class="form-group col-xs-11">
          <!-- input type="tel" er bara stutt í safari -->
          <input type="number"
                 ng-click="badInput = false"
                 ng-class="{error: (badInput && bookingForm.phone.$error.required)
                 || (badInput && bookingForm.phone.$error.maxlength)
                 || (badInput && bookingForm.phone.$error.minlength)}"
                 ng-minlength="7"
                 ng-maxlength="7"
                 name="phone"
                 class="form-control inputField"
                 ng-model="objFrom.phone"
                 placeholder="Sími"
                 required>
        </div>
        <!-- vantar gott error msg eða eitthvað -->
        <div ng-show="badInput && bookingForm.phone.$error.required">x</div>
        <!--<div class="form-group col-xs-11">
          <input type="text"
                 name="service"
                 ng-click="badInput = false"
                 ng-class="{error: badInput && bookingForm.service.$error.required}"
                 class="form-control inputField"
                 ng-model="objFrom.service"
                 placeholder="Aðgerð"
                 required>
          <!-- vantar gott error msg eða eitthvað
          <div ng-show="badInput && bookingForm.service.$error.required">x</div>
        </div>-->
        <div class="form-group col-xs-11">
           <div ng-repeat="p in pricelist track by $index">
            <input type="checkbox"
                   name="service"
                   ng-model="serviceCheckbox.$index"
                   value="{{p.name}},{{p.price}}">
                    {{p.name}}
            <br>
          </div>
        </div>




      </form>
    </td>
  </div>
  <div class="footer">SEGO</div>
</div>

























