<div class="haus">
  <h2>BÓKA TÍMA
    <i class="fa fa-book"></i>
  </h2>
  <button type="button"
          id="molar"
          class="btn btn-link btn-lg"
          ng-click="close()"><i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>
<div class="content b">
  <h4 class="text-center">Klippari: {{ objFrom.name }}</h4>
  <h5 class="text-center">Tími: {{ objFrom.startTime }}</h5>

  <table class="table table-striped">
    <tbody>
    <tr>
      <td colspan="4">
        <form name="bookingForm"
              class="form-horizontal"
              novalidate>
          <div class="form">
            <input type="text"
                   name="name"
                   ng-class="{error: (badInput && bookingForm.name.$error.required)
                 || (badInput && bookingForm.name.$error.maxlength)
                 || (badInput && bookingForm.name.$error.minlength)}"
                   ng-click="badInput = false"
                   ng-minlength="3"
                   ng-maxlength="44"
                   class="form-control inputField"
                   ng-model="objFrom.customer"
                   placeholder="Nafn"
                   required>
          </div>
          <div class="form">
            <input type="number"
                   class="form-control"
                   ng-click="badInput = false"
                   ng-class="{error: (badInput && bookingForm.phone.$error.required)
                 || (badInput && bookingForm.phone.$error.maxlength)
                 || (badInput && bookingForm.phone.$error.minlength)}"
                   ng-minlength="7"
                   ng-maxlength="7"
                   name="phone"
                   ng-model="objFrom.phone"
                   placeholder="Símanúmer"
                   required>
          </div>
          <div class="takkar">
            <button type="submit"
                    id="haettavidtakki"
                    class="btn btn-primary"
                    ng-click="stadfesta(objFrom)">Bóka
            </button>
          </div>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <div ng-show="badInput && bookingForm.phone.$error.required">x</div>
  <div class="input-group">
    <div class="checkbox" ng-repeat="p in pricelist track by $index" ng-if="p.active">
      <label> <input type="checkbox"
                     name="{{ p.name }}"
                     ng-checked="serviceSelected.indexOf(p._id) > -1"
                     ng-click="toggleSelection(p)">
        {{ p.name }} - {{ p.price }} kr. - {{ p.timeLength / 60 }} mín
        <br>
        </input>
      </label>
    </div>
           <h2 class="text-center">Verð: {{ totalPrice }}</h2>
</div>
</div>
<div class="footer"><h3>SEGO</h3></div>

<!--vantar gott error msg eða eitthvað-->



