<div class="haus form-inline row">VIÐSKIPTAVINIR
  <div class="form-group fa fa-users"></div>
  <div class="bla">
    <input type="text" ng-model="search" id="leitargluggi" ng-if="!modifyCus" class="form-control"
           placeholder="Leita..">
    <button type="button"
            class="close takki"
            ng-click="closeWindow()">&times;
    </button>
  </div>
</div>
<div class="content" ng-if="modifyCus">
  <table class="table table-striped">
    <tbody ng-if="!newCustomer">
    <tr>
      <td colspan="4">
        <form name="form.customerForm"
              class="form-horizontal"
              novalidate>
          <div class="form">
            <input type="text"
                   name="name"
                   ng-class="{error: (badInput && form.customerForm.name.$error.required)
                                  || (badInput && form.customerForm.name.$error.maxlength)
                                  || (badInput && form.customerForm.name.$error.minlength)}"
                   ng-click="badInputFalse()"
                   ng-minlength="3"
                   ng-maxlength="44"
                   class="form-control"
                   ng-model="person.name"
                   placeholder="Nafn"
                   required>
          </div>
          <div class="form">
            <input type="number"
                   class="form-control"
                   ng-click="badInputFalse()"
                   ng-class="{error: (badInput && form.customerForm.phone.$error.required)
                                  || (badInput && form.customerForm.phone.$error.maxlength)
                                  || (badInput && form.customerForm.phone.$error.minlength)}"
                   ng-minlength="7"
                   ng-maxlength="7"
                   name="phone"
                   ng-model="person.phone"
                   placeholder="Símanúmer"
                   required>
          </div>
          <div class="form">
            <input type="email"
                   class="form-control"
                   name="email"
                   ng-model="person.email"
                   placeholder="Netfang">
          </div>
          <div class="form">
            <input type="text"
                   class="form-control"
                   name="address"
                   ng-model="person.address"
                   placeholder="Heimilisfang">
          </div>
          <div class="takkar">
            <button type="submit"
                    id="haettavidtakki"
                    class="btn btn-primary"
                    ng-click="toggleCus()">Hætta við
            </button>
            <button type="submit"
                    id="uppfaeratakki"
                    class="btn btn-primary"
                    ng-click="addCustomer(person)">Uppfæra
            </button>
          </div>
        </form>
      </td>
    </tr>
    <tr>
      <td>Athugasemdir:</td>
      <td colspan="3">
        <ul>
          <li ng-repeat="comm in person.comments">{{ comm }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Bæta við athugasemd..">
          </div>
        </form>
      </td>
    </tr>
    <tr>
      <td>Dagsetning</td>
      <td>Klippari</td>
      <td>Þjónusta</td>
      <td>Verð</td>
    </tr>
    <tr ng-repeat="hist in person.history track by $index" ng-init="hist.total = 0">
      <td style="width:10%;">{{ toMMDDYY(hist.startTime) }}</td>
      <td ng-bind="returnStaff(hist.staff_id)">{{ hist.staff_id }}</td>
      <td>
        <ul>
          <li ng-repeat="serv in hist.service" ng-init="hist.total = serv.price + hist.total">{{ serv.name }}</li>
        </ul>
      </td>
      <td>{{ hist.total }}</td>
    </tr>

    </tbody>
    <tbody ng-if="newCustomer">
    <tr>
      <td colspan="4">
        <form name="form.customerForm"
              class="form-horizontal"
              novalidate>
          <div class="form">
            <input type="text"
                   name="name"
                   ng-class="{error: (badInput && form.customerForm.name.$error.required)
                                  || (badInput && form.customerForm.name.$error.maxlength)
                                  || (badInput && form.customerForm.name.$error.minlength)}"
                   ng-click="badInputFalse()"
                   ng-minlength="3"
                   ng-maxlength="44"
                   class="form-control"
                   ng-model="person.name"
                   placeholder="Nafn"
                   required>
          </div>
          <div class="form">
            <input type="number"
                   class="form-control"
                   ng-click="badInputFalse()"
                   ng-class="{error: (badInput && form.customerForm.phone.$error.required)
                                  || (badInput && form.customerForm.phone.$error.maxlength)
                                  || (badInput && form.customerForm.phone.$error.minlength)}"
                   ng-minlength="7"
                   ng-maxlength="7"
                   name="phone"
                   ng-model="person.phone"
                   placeholder="Símanúmer"
                   required>
          </div>
          <div class="form">
            <input type="email"
                   class="form-control"
                   name="email"
                   ng-model="person.email"
                   placeholder="Netfang">
          </div>
          <div class="form">
            <input type="text"
                   class="form-control"
                   name="address"
                   ng-model="person.address"
                   placeholder="Heimilisfang">
          </div>
          <div class="form">
            <div class="takkar">
              <button type="submit"
                      id="haettavidtakki"
                      class="btn btn-primary"
                      ng-click="toggleCus()">Hætta við
              </button>
              <button type="submit"
                      id="uppfaeratakki"
                      class="btn btn-primary"
                      ng-click="addCustomer(person)">Bæta við
              </button>
            </div>
          </div>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!------------------------------------------------------------------------------------------->
<!-------------------------          Viðskiptavinir          -------------------------------->
<!------------------------------------------------------------------------------------------->
<div class="content v" ng-if="!modifyCus">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        <div class="col-xs-1">Nafn</div>
      </th>
      <th class="símanúmer">Símanúmer</th>
      <th class="email">Netfang</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="vinur in vidskiptavinir|orderBy:sortKey:reverse|filter:search|itemsPerPage:9"
        ng-click="editCust(vinur)">
      <td>{{ vinur.name }}</td>
      <td>{{ vinur.phone }}</td>
      <td class="email">{{ vinur.email }}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="row form-group blaðsíður" ng-if="!modifyCus">
  <dir-pagination-controls
    max-size="10"
    direction-links="true"
    boundary-links="true">
  </dir-pagination-controls>
  <div class="viðskiptatakki">
    <button class="btn btn-primary"
            type="submit"
            id="bætavið_takki"
            ng-click="newCus()">Bæta við
    </button>
  </div>
</div>
<div class="footer">SEGO</div>
</div>
