<div class="loading"
     ng-show="loadingData">
  <img
    src="http://imgwallpaper.com/loading-animations-overview/purple/animations/original-purple-loading-circles-large.gif"
    alt="">
</div>
<div class="container-fluid bak" ng-show="!loadingData">
  <div class="row dagsetning">
    <div class="col-md-offset-3">
      <i class="fa fa-caret-left buttonleft divTakki pull-left"
         ng-click="prevDay()">
      </i>
      <div class="dagurin_i_dag">
        <p class="col-md-3 col-sm-6 col-xs-6"
           ng-bind="dagurinnIdag">
        </p>
      </div>
      <i class="fa fa-caret-right buttonright divTakki"
         ng-click="nextDay()">
      </i>
      <i class="fa fa-calendar fa-2x divTakki"
         ng-click="isCollapsed = !isCollapsed"
         aria-hidden="true">
      </i>
    </div>
  </div>
</div>
<div uib-datepicker
     ng-model="dt"
     uib-collapse="!isCollapsed"
     class="datepicker col-md-3 col-md-offset-5 col-sm-3 col-sm-offset-3 col-xs-3 col-xs-offset-2"
     datepicker-options="options"
     ng-click="getDailyBookings(dt | date:'fullDate')">
</div>

<!-- ATTEMPT AT DIV TABLE START-->
<div class="container-fluid" ng-show="!loadingData">
  <div class="rTable">

    <div class="rTableRow">
      <div class="klukka">
        <i class="fa fa-clock-o"
           aria-hidden="true">
        </i>
      </div>
      <div class="staffName"
           ng-repeat="x in staff | orderBy: x._id">
        {{ x.name }}
      </div>
    </div>

    <div class="rTableRow"
         ng-repeat="t in times track by $index ">
      <div class="rTableCell">
        <div ng-if="$index % 2 == 0">{{ t }}</div>
        <div ng-if="$index % 2 != 0"
             class="quart"></div>
      </div>

      <div class="bookingCell"
           ng-repeat="x in staff | orderBy: x._id"
           ng-click="openBooking(t, x, $event)"
           id="{{ t }}{{ x._id }}">
      </div>
    </div>
  </div>
</div>
<!-- ATTEMPT AT DIV TABLE DONE
<div>space</div>

<div class="row col-md-12 col-sm-12 col-xs-12">
  <table class="table table-hover table-bordered">
    <thead>
    <tr class="staff">
      <th class="klukka col-md-1 col-sm-1 col-xs-1">
        <i class="fa fa-clock-o"
           aria-hidden="true"></i>
      </th>
        <th class="staffname"
            ng-repeat="xts in staff | orderBy: xts._id">
          {{ xts.name }}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="booking"
        ng-repeat="tt in times track by $index ">
      <td class="booking-time">
        <p ng-if="$index % 2 == 0">{{ tt }}</p>
      </td>

      <td class="booking-cell"
               ng-repeat="xt in staff | orderBy: xt._id"
               ng-click="openBooking(tt, xt, $event)"
               id="{{ tt }}{{ xt._id }}">
      </td>

    </tr>
    </tbody>
  </table>
</div>-->
