<div class="jumbotron">
  <h1>SEGO lausnir</h1>
  <p class="lead">
    sérsniðið að móðir viðkomandi og hentar smáum sem láum eða lágum.
  </p>
</div>

<div class="row marketing">
  <h4>Hvað er í gangi?</h4>
  <p>
    Sego er með ódýra lausn sem hjálpar við að auðvelda dagleg störf, það er í gangi!
  </p>

  <h4>Hvað meinið þið?</h4>
  <p>
    Ef ykkur vantar eitthvað líkt og bókin sem heldur utan um pantanir á hárgreiðslustofum á stafrænu formi, við meinum það!
  </p>

  <h4>Ég á ekki hárgreiðslustofu!</h4>
  <p>Stofnaðu þá hárgreiðslustofu svo þú getir prófað kerfið okkar.</p>
</div>
