<div>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div id="nav">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-h"
             ng-if="!isAuthenticated"
             href="home">Lausnir
        </div>
        <div class="navbar-haus-t"
             ng-if="!isAuthenticated"
             href="home">SEGO
        </div>
        <div class="nav navbar-nav pull-right"
             ng-if="!isAuthenticated">
          <button type="button"
                  class="btn btn-link btn-lg"
                  ng-click="authService.login()">Innskráning
            <span class="fa fa-sign-in"
                  aria-hidden="true">
                </span>
          </button>
        </div>
        <div class="navbar-haus"
             ng-if="isAuthenticated">
          <a href="admin">Lausnir</a>
        </div>
        <div class="navbar-haus-top"
             ng-if="isAuthenticated">
          <a href="home">SEGO</a>
        </div>
        <div class="nav navbar-nav pull-right"
             ng-if="isAuthenticated">
          <button type="button"
                  class="btn btn-link btn-lg"
                  ng-click="stillingar()">
            <span class="visible-lg-inline-block visible-md-inline-block">Stillingar</span>
            <span class="fa fa-cogs hidden-xs"
                  aria-hidden="true">
                </span>
          </button>
          <button type="button"
                  class="btn btn-link btn-lg"
                  ng-click="vidskiptavinir()">
            <span class="visible-lg-inline-block visible-md-inline-block">Viðskiptavinir</span>
            <span class="fa fa-users hidden-xs"
                  aria-hidden="true">
                </span>
          </button>
          <button type="button"
                  class="btn btn-link btn-lg"
                  ng-click="verdlisti()">
            <span class="visible-lg-inline-block visible-md-inline-block">Verðlisti</span>
            <span class="fa fa-dollar"
                  aria-hidden="true">
                </span>
          </button>
          <!-- ef valinn breytist button.class =  btn btn-primary btn-lg -->
          <button type="button"
                  class="btn btn-link btn-lg"
                  ng-click="authService.logout()">
            <span class="visible-lg-inline-block visible-md-inline-block">Útskrá</span>
            <span class="fa fa-sign-out"
                  aria-hidden="true">
                </span>
          </button>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
  </nav>
</div>
