<div ng-controller="navbarCtrl">
  <nav class="navbar navbar-default navbar-fixed-top" ng-controller="MainCtrl">
    <div id="nav">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1"
                  aria-expanded="false">
          </button>
          <a class="navbar-brand" rel="home" href="home">SEGO</a>
          <a class="navbar-brand" rel="home" href="admin">tmpAdmin</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" ng-if="!isAuthenticated">
            <li>
              <button type="button"
                      class="btn btn-link btn-lg"
                      ng-click="authService.login()"
                      title="Innskráning">
                Innskráning <span
                class="fa fa-sign-in" aria-hidden="true"></span></button>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right" ng-if="isAuthenticated">
            <li>
              <button type="button"
                      class="btn btn-link btn-lg"
                      ng-click="opnaGlugga('verdlisti')"
                      data-toggle="tooltip"
                      data-placement="auto"
                      title="Verðlisti">Verðlisti
                <span class="fa fa-dollar" aria-hidden="true"></span>
              </button>
            </li>
            <li>
              <button type="button"
                      class="btn btn-link btn-lg"
                      ng-click="opnaGlugga('stillingar')"
                      data-toggle="tooltip"
                      data-placement="auto"
                      title="Stillingar">Stillingar <span class="fa fa-cogs" aria-hidden="true"></span></button>
            </li>
            <li>
              <button type="button"
                      class="btn btn-link btn-lg"
                      ng-click="opnaGlugga('vidskiptavinir')"
                      data-toggle="tooltip"
                      data-placement="auto"
                      title="Viðskiptavinir">Viðskiptavinir <span class="fa fa-users" aria-hidden="true"></span></button>
              <!-- ef valinn breytist button.class =  btn btn-primary btn-lg -->
            </li>
            <li>
              <button type="button"
                      class="btn btn-link btn-lg"
                      ng-click="authService.logout()"
                      data-toggle="tooltip"
                      data-placement="auto"
                      title="Útskrá">Útskrá <span class="fa fa-sign-out" aria-hidden="true"></span></button>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
  </nav>
</div>
