<div>
  <div class="haus">
    <h2>TÖLFRÆÐI
      <i class="fa fa-pie-chart"></i>
    </h2>
    <div class="molar">
      <button type="button"
              class="molar btn btn-link btn-lg"
              ng-click="klipparar()"
              data-toggle="tooltip"
              data-placement="auto"
              title="Yfir á klippara">
      <span class="fa fa-cut"
            aria-hidden="true">
      </span>
        <span class="texti">Klipparar</span>
      </button>
      <button type="button"
              class="molar btn btn-link btn-lg"
              ng-click="verdlisti()"
              data-toggle="tooltip"
              data-placement="auto"
              title="Yfir á verðlista">
      <span class="fa fa-dollar"
            aria-hidden="true">
      </span>
        <span class="texti">Verðlisti</span>
      </button>
      <button type="button"
              class="molar btn btn-link btn-lg"
              ng-click="close()"><i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="content">
    <div class="row tölfræði">
    <div class="col-md-6 tolfr">
      <canvas id="pie" class="chart chart-pie"
              chart-data="data" chart-labels="labels" chart-options="options">
      </canvas>
    </div>
    <div class="col-md-6">

      <div class="table-responsive tolfrTafla">

        <table class="table">
          <tr>
            <th><h5>Klippari</h5></th>
            <th><h5>Fjöldi bókana</h5></th>
            <th><h5>Samtals krónur</h5></th>
          </tr>
          <tbody ng-repeat="klippari in labels">
            <tr>
              <td>{{klippari}}</td>
              <td>{{books[$index]}}</td>
              <td>{{data[$index]}}</td>
            </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
  </div>
  <div class="footer"><h3>SEGO</h3></div>
</div>
