<!-- EIGANDA(VIEW)

<!---------------------------->
<!-- Stillingar á klippurum -->
<!---------------------------->

<div ng-if="!state.verdskra"
     class="col-xs-12">
  <div class="haus">KLIPPARAR
    <i class="fa fa-cut"
       style="font-size: 30px">
    </i>
    <button type="button"
            class="close takki"
            ng-click="closeWindow()">&times;
    </button>
  </div>
  <div class="content">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          <div class="col-xs-1">Nafn</div>
        </th>
        <th>Símanúmer</th>
        <th></th>
        <th>
          <div class="pull-right">
            <button class="eigandi-editPriceList glyphicon glyphicon-usd"
                    ng-click="toggle()"
                    data-toggle="tooltip"
                    data-placement="auto"
                    title="Yfir á verðlista">
            </button>
            <button class="eigandi-addHairdresser glyphicon glyphicon-plus"
                    ng-click="add()"
                    data-toggle="tooltip"
                    data-placement="auto"
                    title="Bæta við klippara">
            </button>
          </div>
        </th>
      </tr>
      </thead>
      <tbody ng-if="!state.verdskra && state.add">
      <!-- EDIT KLIPPARA -->
      <tr>
        <td colspan="4">
          <form name="form.staffForm"
                class="form-horizontal"
                novalidate>
            <div class="form-group row">
              <div class="col-xs-11">
                <input type="text"
                       name="name"
                       ng-class="{error: (badInput && form.staffForm.name.$error.required)
                                  || (badInput && form.staffForm.name.$error.maxlength)
                                  || (badInput && form.staffForm.name.$error.minlength)}"
                       ng-click="badInputFalse()"
                       ng-minlength="3"
                       ng-maxlength="44"
                       class="form-control"
                       id="name"
                       placeholder="Nafn"
                       ng-model="editUser.name"
                       required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-xs-11">
                <input type="email"
                       class="form-control"
                       name="email"
                       ng-class="{error: (badInput && form.staffForm.email.$error.required)
                                  || (badInput && form.staffForm.email.$error.email)}"
                       id="email"
                       placeholder="Netfang"
                       ng-model="editUser.email"
                       required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-xs-11">
                <input type="number"
                       name="phone"
                       ng-class="{error: (badInput && form.staffForm.phone.$error.required)
                                      || (badInput && form.staffForm.phone.$error.maxlength)
                                      || (badInput && form.staffForm.phone.$error.minlength)}"
                       ng-minlength="7"
                       ng-maxlength="7"
                       ng-click="badInputFalse()"
                       class="form-control"
                       id="phone"
                       placeholder="Símanúmer"
                       ng-model="editUser.phone"
                       required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-xs-11">
                <input type="text"
                       class="form-control"
                       id="address"
                       placeholder="Heimilisfang"
                       ng-model="editUser.address">
              </div>
            </div>
            <div class="form-group row col-xs-11">
              <div class="takkar col-md-offset-8 col-xs-offset-5">
                <button type="submit"
                        id="haettavidtakki"
                        class="btn btn-primary"
                        ng-click="toggleView()">Hætta við
                </button>
                <button type="submit"
                        id="uppfaeratakki"
                        class="btn btn-primary"
                        ng-click="addStaff(editUser)">Uppfæra
                </button>
              </div>
            </div>
          </form>
        </td>
      </tr>
      </tbody>
      <tbody ng-if="!state.verdskra && !state.add">
      <tr ng-repeat="s in staff track by $index">
        <td class="theFirst col-xs-4">{{ s.name }}</td>
        <td>{{ s.phone }}</td>
        <td>{{ s.role }}</td>
        <td>
          <div class="pull-right">
            <a ng-click="removeStaff(s, $index)">
              <i class="glyphicon glyphicon-trash divTakki"
                 data-toggle="tooltip"
                 data-placement="auto"
                 title="Henda">
              </i>
            </a>
            <a ng-click="editStaff(s, $index)">
              <i class="glyphicon glyphicon-pencil divTakki"
                 data-toggle="tooltip"
                 data-placement="auto"
                 title="Breyta">
              </i>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="footer">SEGO</div>
</div>
<!------------------------->
<!-- Stillingar á verðum -->
<!------------------------->
<div ng-if="state.verdskra"
     class="col-xs-12">
  <div class="haus">VERÐLISTI
    <i class="fa fa-dollar"
       style="font-size: 30px">
    </i>
    <button type="button"
            class="close takki"
            ng-click="closeWindow()">&times;
    </button>
  </div>
  <div class="content">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          <div class="pull-left">Nafn</div>
        </th>
        <th>Verð</th>
        <th></th>
        <th>
          <div class="pull-right">
            <button class="eigandi-toggle glyphicon glyphicon-user"
                    ng-click="toggle()"
                    data-toggle="tooltip"
                    data-placement="auto"
                    title="Fara yfir á klippara">
            </button>
            <button class="eigandi-addService glyphicon glyphicon-plus"
                    ng-click="add()"
                    data-toggle="tooltip"
                    data-placement="auto"
                    title="Bæta við þjónustu">
            </button>
          </div>
      </tr>
      </thead>
      <tbody>
      <!-- EDIT VERDSKRA -->
      <tr ng-if="state.verdskra && state.edit"
          id="editing">
        <td colspan="4">
          <form>
            <div class="form-group row">
              <label for="inputName3"
                     class="col-sm-2 col-form-label">Nafn
              </label>
              <div class="col-sm-10">
                <input type="name"
                       class="form-control"
                       id="inputName3"
                       placeholder="Nafn"
                       ng-model="editVerd.name">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPrice3"
                     class="col-sm-2 col-form-label">Verð
              </label>
              <div class="col-sm-10">
                <input type="number"
                       class="form-control"
                       id="inputPrice3"
                       placeholder="Verð"
                       ng-model="editVerd.price">
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-2 col-sm-10 pull-right">
                <button type="submit"
                        class="btn btn-primary"
                        ng-click="state.edit = false">Hætta við
                </button>
                <button type="submit"
                        class="btn btn-primary"
                        ng-click="updatePrice()">Uppfæra
                </button>
              </div>
            </div>
          </form>
        </td>
      </tr>
      <!-- Verdskra add -->
      <tr ng-if="state.verdskra && state.add">
        <td colspan="4">
          <form name="form.priceForm"
                class="form-horizontal"
                novalidate>
            <div class="form-group row">
              <div class="col-xs-11">
                <input type="text"
                       name="service"
                       ng-class="{error: (badInput && form.priceForm.name.$error.required)
                                  || (badInput && form.priceForm.name.$error.maxlength)
                                  || (badInput && form.priceForm.name.$error.minlength)}"
                       ng-click="badInputFalse()"
                       ng-minlength="3"
                       ng-maxlength="44"
                       class="form-control"
                       id="service"
                       placeholder="Þjónusta"
                       ng-model="service.name"
                       required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-xs-11">
                <input type="number"
                       name="price"
                       ng-class="{error: (badInput && form.priceForm.price.$error.required)
                                      || (badInput && form.priceForm.price.$error.maxlength)
                                      || (badInput && form.priceForm.price.$error.minlength)}"
                       ng-minlength="7"
                       ng-maxlength="7"
                       ng-click="badInputFalse()"
                       class="form-control"
                       id="price"
                       placeholder="Verð"
                       ng-model="service.price"
                       required>
              </div>
            </div>
            <div class="form-group row col-xs-11">
              <div class="takkar col-md-offset-8 col-xs-offset-5">
                <button type="submit"
                        id="haettavid"
                        class="btn btn-primary"
                        ng-click="toggleView()">Hætta við
                </button>
                <button type="submit"
                        id="stadfesta"
                        class="btn btn-primary"
                        ng-click="addStaff(editUser)">Bæta við
                </button>
              </div>
            </div>
          </form>
          <!--<form class="form-horizontal">
            <div class="form-group col-xs-11">
              <label class="sr-only"
                     for="Þjónusta">
              </label>
              <input type="name"
                     class="form-control inputField"
                     id="inputÞjónusta"
                     placeholder="Þjónusta"
                     ng-model="service.name">
            </div>
            <div class="form-group col-xs-11">
              <label class="sr-only"
                     for="inputVerd">
              </label>
              <input type="tel"
                     class="form-control inputField"
                     id="inputVerd"
                     placeholder="Verð"
                     ng-model="service.price">
            </div>
            <div class="pull-right col-xs-1">
              <i class="fa fa-plus fa-2x stadfestaTakki"
                 aria-hidden="true"
                 data-toggle="tooltip"
                 data-placement="auto"
                 title="Staðfesta"
                 ng-click="addPrice(service)">
              </i>
            </div>
            <div class="pull-right col-xs-1">
              <i class="fa fa-times fa-2x haettaVidTakki"
                 aria-hidden="true"
                 data-toggle="tooltip"
                 data-placement="auto"
                 title="Hætta við"
                 ng-click="add()">
              </i>
            </div>
          </form>-->
        </td>
      </tr>
      <tr ng-repeat="p in pricelist track by $index">
        <td>{{ p.name }}</td>
        <td>{{ p.price }} kr.</td>
        <td></td>
        <td>
          <div class="pull-right">
            <a ng-click="removePrice(p, $index)">
              <i class="glyphicon glyphicon-trash divTakki"
                 data-toggle="tooltip"
                 data-placement="auto"
                 title="Henda">
              </i>
            </a>
            <a ng-click="editPrice(p)"
               href="#editing">
              <i class="glyphicon glyphicon-pencil divTakki"
                 data-toggle="tooltip"
                 data-placement="auto"
                 title="Breyta">
              </i>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="footer">SEGO</div>
</div>
