<!-- EIGANDA(VIEW)

<!---------------------------->
<!-- Stillingar á klippurum -->
<!---------------------------->

<div ng-if="!state.verdskra">
  <div class="haus">
    <h2>KLIPPARAR
      <i class="fa fa-cut"></i>
    </h2>
    <div class="molar">
      <button type="button"
              class="molar btn btn-link btn-lg"
              ng-click="tolfraedi()"
              data-toggle="tooltip"
              data-placement="auto"
              title="Yfir á tölfræði">
      <span class="fa fa-pie-chart"
            aria-hidden="true">
      </span>
        <span class="texti">Tölfræði</span>
      </button>
      <button type="button"
              class="molar btn btn-link btn-lg"
              ng-click="toggle()"
              data-toggle="tooltip"
              data-placement="auto"
              title="Yfir á verðlista">
      <span class="fa fa-dollar"
            aria-hidden="true">
      </span>
        <span class="texti">Verðlisti</span>
      </button>
      <button type="button"
              class="molar btn btn-link btn-lg"
              ng-click="close()"><i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="content">
    <table class="table table-striped">
      <!-- HAUSINN A RODINNI -->
      <thead ng-if="!state.verdskra && !state.add && !state.edit">
      <tr>
        <th>
          <div class="col-xs-1">Nafn</div>
        </th>
        <th>Símanúmer</th>
        <th>Netfang</th>
      </tr>
      </thead>
      <!-- HAUSINN A RODINNI, ENDIR -->
      <!-- EDIT KLIPPARA -->
      <tbody ng-if="!state.verdskra && state.edit">
      <tr>
        <td colspan="4">
          <form name="form.staffForm"
                class="form-horizontal"
                novalidate>
            <div class="form">
              <input type="text"
                     name="name"
                     ng-class="{error: (badInput && form.staffForm.name.$error.required)
                                  || (badInput && form.staffForm.name.$error.maxlength)
                                  || (badInput && form.staffForm.name.$error.minlength)}"
                     ng-click="badInputFalse()"
                     ng-minlength="3"
                     ng-maxlength="44"
                     class="form-control"
                     ng-model="editUser.name"
                     placeholder="Nafn"
                     required>
            </div>
            <div class="form">
              <input type="email"
                     class="form-control"
                     name="email"
                     ng-class="{error: (badInput && form.staffForm.email.$error.required)
                                  || (badInput && form.staffForm.email.$error.email)}"
                     ng-model="editUser.email"
                     placeholder="Netfang"
                     required>
            </div>
            <div class="form">
              <input type="number"
                     name="phone"
                     ng-class="{error: (badInput && form.staffForm.phone.$error.required)
                                      || (badInput && form.staffForm.phone.$error.maxlength)
                                      || (badInput && form.staffForm.phone.$error.minlength)}"
                     ng-minlength="7"
                     ng-maxlength="7"
                     ng-click="badInputFalse()"
                     class="form-control"
                     ng-model="editUser.phone"
                     placeholder="Símanúmer"
                     required>
            </div>
            <div class="form">
              <input type="text"
                     class="form-control"
                     placeholder="Heimilisfang"
                     ng-model="editUser.address">
            </div>
            <div class="form">
              <div class="takkar">
                <button type="submit"
                        class="btn btn-primary"
                        ng-click="toggleView()">Hætta við
                </button>
                <button type="submit"
                        class="btn btn-primary"
                        ng-click="addStaff(editUser)">Uppfæra
                </button>
              </div>
            </div>
          </form>
        </td>
      </tr>
      </tbody>
      <!-- EDIT KLIPPARA OUT OF IT -->
      <!-- ADD KLIPPARA -->
      <tbody ng-if="!state.verdskra && state.add">
      <tr>
        <td colspan="4">
          <form name="form.staffForm"
                class="form-horizontal"
                novalidate>
            <div class="form">
              <input type="text"
                     name="name"
                     ng-class="{error: (badInput && form.staffForm.name.$error.required)
                                  || (badInput && form.staffForm.name.$error.maxlength)
                                  || (badInput && form.staffForm.name.$error.minlength)}"
                     ng-click="badInputFalse()"
                     ng-minlength="3"
                     ng-maxlength="44"
                     class="form-control"
                     ng-model="editUser.name"
                     placeholder="Nafn"
                     required>
            </div>
  </div>
  <div class="form">
    <input type="email"
           class="form-control"
           name="email"
           ng-class="{error: (badInput && form.staffForm.email.$error.required)
                                  || (badInput && form.staffForm.email.$error.email)}"
           ng-model="editUser.email"
           placeholder="Netfang"
           required>
  </div>
</div>
<div class="form">
  <input type="number"
         name="phone"
         ng-class="{error: (badInput && form.staffForm.phone.$error.required)
                                      || (badInput && form.staffForm.phone.$error.maxlength)
                                      || (badInput && form.staffForm.phone.$error.minlength)}"
         ng-minlength="7"
         ng-maxlength="7"
         ng-click="badInputFalse()"
         class="form-control"
         ng-model="editUser.phone"
         placeholder="Símanúmer"
         required>
</div>

<div class="form">
  <input type="text"
         class="form-control"
         ng-model="editUser.address"
         placeholder="Heimilisfang">
</div>
</form>
<div class="form">
  <div class="takkar">
    <button type="submit"
            class="btn btn-primary"
            ng-click="toggleView()">Hætta við
    </button>
    <button type="submit"
            class="btn btn-primary"
            ng-click="addStaff(editUser)">Bæta við
    </button>
  </div>
</div>
<!-- ADD KLIPPARA, ENDIR -->
<!-- SHOW name, phone and email OF KLIPPARA -->
<tbody ng-if="!state.verdskra && !state.add && !state.edit">
<tr ng-repeat="s in staff track by $index">
  <td class="theFirst col-xs-4 divTakki"
      ng-click="editStaff(s)">{{ s.name }}
  </td>
  <td>{{ s.phone }}</td>
  <td>{{ s.email }}</td>
</tr>
</tbody>
<!-- SHOW ... KLIPPARA OUT OF IT -->
</table>
<div class="takkar" ng-if="!state.verdskra && !state.add && !state.edit">
  <button type="submit"
          class="bætavið_klippara_takki btn btn-primary"
          ng-click="toStaffAdd()">Bæta við klippara
  </button>
</div>
</div>
<div class="footer"><h3>SEGO</h3></div>
</div>
<!------------------------->
<!-- Stillingar á verðum -->
<!------------------------->
<div ng-if="state.verdskra">
  <div class="haus">
    <h2>VERÐLISTI
      <i class="fa fa-dollar"></i>
    </h2>
    <div class="molar">
      <button type="button"
              class="molar btn btn-link btn-lg"
              ng-click="tolfraedi()"
              data-toggle="tooltip"
              data-placement="auto"
              title="Yfir á tölfræði">
      <span class="fa fa-pie-chart"
            aria-hidden="true">
      </span>
        <span class="texti">Tölfræði</span>
      </button>
      <button type="button"
              class="molar btn btn-link btn-lg"
              ng-click="toggle()"
              data-toggle="tooltip"
              data-placement="auto"
              title="Fara yfir á klippara">
      <span class="fa fa-user"
            aria-hidden="true">
      </span>
        <span class="texti">Klipparar</span>
      </button>
      <button type="button"
              class="molar btn btn-link btn-lg"
              ng-click="close()"><i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="content v s">
    <table class="table table-striped">
      <thead ng-if="state.verdskra && !state.add && !state.edit">
      <tr>
        <th>
          <div class="col-xs-1">Nafn</div>
        </th>
        <th>Verð</th>
        <th>Mínútur</th>
      </tr>
      </thead>
      <!-- EDIT VERDSKRA -->
      <tbody ng-if="state.verdskra && state.edit
                 || state.verdskra && state.add">
      <tr>
        <td colspan="4">
          <form name="form.priceForm"
                class="form-horizontal"
                novalidate>
            <div class="form">
              <input type="text"
                     name="service"
                     class="form-control"
                     ng-class="{error: (badInput && form.priceForm.service.$error.required)
                                  || (badInput && form.priceForm.service.$error.maxlength)
                                  || (badInput && form.priceForm.service.$error.minlength)}"
                     ng-click="badInputFalse()"
                     ng-minlength="3"
                     ng-maxlength="35"
                     ng-model="editVerd.name"
                     placeholder="Nafn"
                     required>
            </div>
            <div class="form">
              <input type="number"
                     class="form-control"
                     name="price"
                     ng-class="{error: (badInput && form.priceForm.price.$error.required)
                                  || (badInput && form.priceForm.price.$error.maxlength)
                                  || (badInput && form.priceForm.price.$error.minlength)}"
                     ng-click="badInputFalse()"
                     ng-maxlength="5"
                     ng-model="editVerd.price"
                     placeholder="Verð"
                     required>
            </div>

            <div class="form">
              <input type="number"
                     class="form-control"
                     name="timeLength"
                     ng-class="{error: (badInput && form.priceForm.timeLength.$error.required)
                                  || (badInput && form.priceForm.timeLength.$error.maxlength)
                                  || (badInput && form.priceForm.timeLength.$error.minlength)}"
                     ng-minlength="2"
                     ng-maxlength="3"
                     ng-click="badInputFalse()"
                     ng-model="editVerd.timeLength"
                     placeholder="Tími í mínútum"
                     required>
            </div>

            <div class="form">
              <div class="takkar">
                <button type="submit"
                        class="btn btn-primary"
                        ng-if="state.verdskra && state.edit"
                        ng-click="removePrice()">Henda
                </button>
                <button type="submit"
                        class="btn btn-primary"
                        ng-click="toggleView()">Hætta við
                </button>
                <button type="submit"
                        class="btn btn-primary"
                        ng-if="state.verdskra && state.edit"
                        ng-click="updatePrice()">Uppfæra
                </button>
                <button type="submit"
                        class="btn btn-primary"
                        ng-if="state.verdskra && state.add"
                        ng-click="addPrice(editVerd)">Bæta við
                </button>
              </div>
            </div>
          </form>
        </td>
      </tr>
      </tbody>
      <tbody ng-if="state.verdskra && !state.add && !state.edit">
      <tr ng-repeat="p in pricelist track by $index" ng-if="p.active">
        <td class="theFirst col-xs-4 divTakki"
            ng-click="editPrice(p, $index)">{{ p.name }}
        </td>
        <td>{{ p.price }} kr.</td>
        <td>{{ p.timeLength / 60 }}</td>
      </tr>
      </tbody>
      <!-- EDIT VERDSKRA DONE -->
    </table>
    <div class="takkar" ng-if="state.verdskra && !state.add && !state.edit">
      <button type="submit"
              id="bætavið_þjónustu_takki"
              class="bætavið_i_stillingar btn btn-primary"
              ng-click="toPriceAdd()">Bæta við þjónustu
      </button>
    </div>
  </div>
  <div class="footer"><h3>SEGO</h3></div>
</div>
