        <div class="container">

                <div class="col-xs-8">
                    <h1> Verðskrá </h1>
                    <ul class="list-group">
                        <a href="#" class="list-group-item ">
                            <h4 class="list-group-item-heading"> Klipping </h4>
                            <p class="list-group-item-text"> 5000 Kr.</p>
                        </a>

                        <a href="#" class="list-group-item ">
                            <h4 class="list-group-item-heading"> Litun </h4>
                            <p class="list-group-item-text"> 35 Kr. </p>
                        </a>


                        <a href="#" class="list-group-item ">
                            <h4 class="list-group-item-heading"> Strípur </h4>
                            <p class="list-group-item-text"> 3482 Kr. </p>
                        </a>

                        <a href="#" class="list-group-item ">
                            <h4 class="list-group-item-heading"> Hár þvottur </h4>
                            <p class="list-group-item-text"> 4245 Kr. </p>
                        </a>
                    </ul>
                </div>

        </div>