<div class="row header">
    <h4 class="pull-left">Viðskiptavinir</h4>
    <button type="button" class="skilabod-xHorn pull-right" ng-click="closeWindow()">&times;</button>
</div>
<table class="table table-striped">
  
  <div class="col-xs-offset-5">
    
  </div>
  <thead>
    <th>Nafn</th>
    <th>Símanúmer</th>
    <th>
      <div class="pull-right">
        <button class="eigandi-addHairdresser"
                ng-click="addCustomer()"
                data-toggle="tooltip"
                data-placement="auto"
                title="Bæta við">
          <i class="glyphicon glyphicon-plus"></i>
        </button>
      </div>
    </th>
  </thead>
  <tbody>
  <div>
  <tr ng-if="vidskiptavinir.addCustomer">
    <td colspan="3">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="sr-only" for="inputKlippari">Nafn</label>
          <input type="name" class="form-control" id="inputKlippari" placeholder="Nafn">
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputSimanumer">Símanúmer</label>
          <input type="tel" class="form-control" id="inputSimanumer" placeholder="Símanúmer">
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputNetpostur">Netpóstur</label>
          <input type="email" class="form-control" id="inputNetpostur" placeholder="Netpóstur">
        </div>
        <div class="pull-right">
          <button type="submit" class="btn btn-default">Bæta við</button>
        </div>
      </form>
    </td>
  </tr>
    <!------------------------------------------------------------------------------------------->
    <!-------------------------          Viðskiptavinir          -------------------------------->
    <!------------------------------------------------------------------------------------------->
    <tr ng-repeat="vinur in vidskiptavinir track by $index" data-toggle="collapse" data-target=".demo1" >
      <td>{{ vinur.nafn }}</td>
      <td>{{ vinur.simi }}</td>
      <td>
        <div class="pull-right">
          <a ng-click="klippTrash()">
            <i class="glyphicon glyphicon-trash divTakki"
               data-toggle="tooltip"
               data-placement="auto"
               title="Henda"></i>
          </a>
          <a ng-click="klippBreyting()">
            <i class="glyphicon glyphicon-pencil divTakki"
               data-toggle="tooltip"
               data-placement="auto"
               title="Breyta"></i>
          </a>
        </div>
    </td>
    <tr>
      <td class="hiddenRow"><div class="collapse demo1">Netfang:</div></td>
      <td class="hiddenRow"  colspan="2">
        <div class="collapse demo1">{{ vinur.netfang }}</div>
      </td>
    </tr>
    <tr>
      <td class="hiddenRow"><div class="collapse demo1">Heimilisfang:</div></td>
      <td class="hiddenRow" colspan="2">
        <div class="collapse demo1">{{ vinur.heimilisfang }}</div>
      </td>
      <td class="hiddenRow" colspan="3">
        <div class="collapse demo1">Athugasemd:</div>
      </td>
      <td class="hiddenRow" colspan="3">
        <div ng-repeat="ath in vinur.Athugasemdir"class="collapse demo1 athugasemd"> {{ ath }}</div>
      </td>
    </tr>   
    </tr>
    <tr data-toggle="collapse" data-target=".demo2">
      <td>Arnfinnur Geirsson</td>
      <td>5684715</td>

      <td>
        <div class="pull-right">
          <a ng-click="klippTrash()">
            <i class="glyphicon glyphicon-trash divTakki"
               data-toggle="tooltip"
               data-placement="auto"
               title="Henda"></i>
          </a>
          <a ng-click="klippBreyting()">
            <i class="glyphicon glyphicon-pencil divTakki"
               data-toggle="tooltip"
               data-placement="auto"
               title="Breyta"></i>
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="hiddenRow"><div class="collapse demo2">Netfang:</div></td>
      <td class="hiddenRow"  colspan="2">
        <div class="collapse demo2">finnur@gmail.com</div>
      </td>
    </tr>
    <tr>
      <td class="hiddenRow"><div class="collapse demo2">Heimilisfang:</div></td>
      <td class="hiddenRow" colspan="2">
        <div class="collapse demo2">Brávallargata 7</div>
      </td>
    </tr>
    <td class="hiddenRow" colspan="3">
      <div class="collapse demo2">Athugasemd:</div>
    </td>
    </tr>
    <tr>
      <td class="hiddenRow" colspan="3">
        <div class="collapse demo2 athugasemd">Vill láta gæla við sig meðan á klippingu stendur</div>
      </td>
    </tr>

    <tr data-toggle="collapse" data-target=".demo3">
      <td>Sólveig Jensína Guðbjartsdóttir</td>
      <td>8676464</td>

      <td>
        <div class="pull-right">
          <a ng-click="klippTrash()">
            <i class="glyphicon glyphicon-trash divTakki"
               data-toggle="tooltip"
               data-placement="auto"
               title="Henda"></i>
          </a>
          <a ng-click="klippBreyting()">
            <i class="glyphicon glyphicon-pencil divTakki"
               data-toggle="tooltip"
               data-placement="auto"
               title="Breyta"></i>
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="hiddenRow"><div class="collapse demo3">Netfang:</div></td>
      <td class="hiddenRow"  colspan="2">
        <div class="collapse demo3">solla@siminn.com</div>
      </td>
    </tr>
    <tr>
      <td class="hiddenRow"><div class="collapse demo3">Heimilisfang:</div></td>
      <td class="hiddenRow" colspan="2">
        <div class="collapse demo3">Engihjalli 1</div>
      </td>
    </tr>
    <td class="hiddenRow" colspan="3">
      <div class="collapse demo3">Athugasemd:</div>
    </td>
    </tr>
    <tr>
      <td class="hiddenRow" colspan="3">
        <div class="collapse demo3 athugasemd">Blátt hár</div>
      </td>
    </tr>

    <tr data-toggle="collapse" data-target=".demo4">
      <td>Brenda Cavalier</td>
      <td>5656565</td>

      <td>
        <div class="pull-right">
          <a ng-click="klippTrash()">
            <i class="glyphicon glyphicon-trash divTakki"
               data-toggle="tooltip"
               data-placement="auto"
               title="Henda"></i>
          </a>
          <a ng-click="klippBreyting()">
            <i class="glyphicon glyphicon-pencil divTakki"
               data-toggle="tooltip"
               data-placement="auto"
               title="Breyta"></i>
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="hiddenRow"><div class="collapse demo4">Netfang:</div></td>
      <td class="hiddenRow"  colspan="2">
        <div class="collapse demo4">brenda@mail.com</div>
      </td>
    </tr>
    <tr>
      <td class="hiddenRow"><div class="collapse demo4">Heimilisfang:</div></td>
      <td class="hiddenRow" colspan="2">
        <div class="collapse demo4">Frakkastígur 4</div>
      </td>
    </tr>
    <td class="hiddenRow" colspan="3">
      <div class="collapse demo4">Athugasemd:</div>
    </td>
    </tr>
    <tr>
      <td class="hiddenRow" colspan="3">
        <div class="collapse demo4 athugasemd">Skemmtileg stelpa með skallabletti</div>
      </td>
    </tr>

    <tr data-toggle="collapse" data-target=".demo5">
      <td>Borghildur Bogadóttir</td>
      <td>8965431</td>

      <td>
        <div class="pull-right">
          <a ng-click="klippTrash()">
            <i class="glyphicon glyphicon-trash divTakki"
               data-toggle="tooltip"
               data-placement="auto"
               title="Henda"></i>
          </a>
          <a ng-click="klippBreyting()">
            <i class="glyphicon glyphicon-pencil divTakki"
               data-toggle="tooltip"
               data-placement="auto"
               title="Breyta"></i>
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="hiddenRow"><div class="collapse demo5">Netfang:</div></td>
      <td class="hiddenRow" colspan="2">
        <div class="collapse demo5">bogga@gmail.com</div>
      </td>
    </tr>
    <tr>
      <td class="hiddenRow"><div class="collapse demo5">Heimilisfang:</div></td>
      <td class="hiddenRow" colspan="2">
        <div class="collapse demo5">Borgarholtstíg 58</div>
      </td>
    </tr>
    <td class="hiddenRow" colspan="3">
      <div class="collapse demo5">Athugasemd:</div>
    </td>
    </tr>
    <tr>
      <td class="hiddenRow" colspan="3">
        <div class="collapse demo5 athugasemd">Mikil flasa nota flösusjampó</div>
      </td>
    </tr>

    <tr data-toggle="collapse" data-target=".demo6">
      <td>Guðjón Pétursson</td>
      <td>5646461</td>

      <td>
        <div class="pull-right">
          <a ng-click="hendaViskiptavin()">
            <i class="glyphicon glyphicon-trash divTakki"
               data-toggle="tooltip"
               data-placement="auto"
               title="Henda"></i>
          </a>
          <a ng-click="breytaVidskiptavin()">
            <i class="glyphicon glyphicon-pencil divTakki"
               data-toggle="tooltip"
               data-placement="auto"
               title="Breyta"></i>
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td class="hiddenRow"><div class="collapse demo6">Netfang:</div></td>
      <td class="hiddenRow"  colspan="2">
        <div class="collapse demo6">gudjon12@ru.is</div>
      </td>
    </tr>
    <tr>
      <td class="hiddenRow"><div class="collapse demo6">Heimilisfang:</div></td>
      <td class="hiddenRow" colspan="2">
        <div class="collapse demo6">Fjarskanistan</div>
      </td>
    </tr>
    <td class="hiddenRow" colspan="3">
      <div class="collapse demo6">Athugasemd:</div>
    </td>
    </tr>
    <tr>
      <td class="hiddenRow" colspan="3">
        <div class="collapse demo6 athugasemd">Næst vill hann bleikt hár</div>
      </td>
    </tr>
  </div>
  </tbody>
</table>
