<div class="haus">VIÐSKIPTAVINIR
  <i class="fa fa-users" style="font-size: 30px"></i>
  <button type="button" class="close takki" ng-click="closeWindow()">&times;</button>
</div>
<div class="content">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>
        <div class="pull-left">Nafn</div>
      </th>
      <th>Símanúmer</th>
      <th></th>
      <th>
        <div class="pull-right">
          <button class="eigandi-addHairdresser glyphicon glyphicon-plus"
                  ng-click="addCust()"
                  data-toggle="tooltip"
                  data-placement="auto"
                  title="Bæta við viðskiptavin">
          </button>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <tr ng-if="addCus">
      <td colspan="4">
        <form class="form-horizontal">
          <div class="form-group col-xs-11">
            <label class="sr-only" for="name">Nafn</label>
            <input type="name"
                   class="form-control inputField"
                   name="name"
                   ng-model="person.name"
                   placeholder="Nafn">
          </div>
          <div class="pull-right col-xs-1">
            <i class="fa fa-plus fa-2x stadfestaTakki"
               aria-hidden="true"
               data-toggle="tooltip"
               data-placement="auto"
               title="Staðfesta" ng-click="addCustomer(person)"></i>
          </div>
          <div class="form-group col-xs-11">
            <label class="sr-only" for="phone">Sími</label>
            <input type="tel"
                   class="form-control inputField"
                   name="phone"
                   ng-model="person.phone"
                   placeholder="Símanúmer">
          </div>
          <div class="pull-right col-xs-1">
            <i class="fa fa-times fa-2x haettaVidTakki"
               aria-hidden="true"
               data-toggle="tooltip"
               data-placement="auto"
               title="Hætta við" ng-click="add()"></i>
          </div>
          <div class="form-group col-xs-11">
            <label class="sr-only" for="email">Netfang</label>
            <input type="text"
                   class="form-control inputField"
                   name="email"
                   ng-model="person.email"
                   placeholder="Netfang">
          </div>
        </form>
      </td>
    </tr>
    <!------------------------------------------------------------------------------------------->
    <!-------------------------          Viðskiptavinir          -------------------------------->
    <!------------------------------------------------------------------------------------------->
    <tr ng-repeat="vinur in vidskiptavinir track by $index" data-toggle="collapse" data-target=".demo1">
      <td>{{ vinur.nafn }}</td>
      <td>{{ vinur.simi }}</td>
      <td></td>
      <td>
        <div class="pull-right">
          <a ng-click="klippTrash()">
            <i class="glyphicon glyphicon-trash divTakki"
               data-toggle="tooltip"
               data-placement="auto"
               title="Henda"></i>
          </a>
          <a ng-click="klippBreyting()">
            <i class="glyphicon glyphicon-pencil divTakki"
               data-toggle="tooltip"
               data-placement="auto"
               title="Breyta"></i>
          </a>
        </div>
      </td>
    <tr>
      <td class="hiddenRow">
        <div class="collapse demo1">Netfang:</div>
      </td>
      <td class="hiddenRow" colspan="3">
        <div class="collapse demo1">{{ vinur.netfang }}</div>
      </td>
    </tr>
    <tr>
      <td class="hiddenRow">
        <div class="collapse demo1">Heimilisfang:</div>
      </td>
      <td class="hiddenRow" colspan="3">
        <div class="collapse demo1">{{ vinur.heimilisfang }}</div>
      </td>
    </tr>
    <tr>
      <td class="hiddenRow" colspan="3">
        <div class="collapse demo1">Athugasemd:</div>
      </td>
      <td class="hiddenRow" colspan="3">
        <div ng-repeat="ath in vinur.Athugasemdir" class="collapse demo1 athugasemd"> {{ ath }}</div>
      </td>
    </tr>
    </tr>
</div>
</tbody>
</table>
</div>
<div class="footer">SEGO</div>
